---
import astroLogo from "@/assets/astro.svg";

type Props = {
  width?: number;
  height?: number;
  alt?: string;
  url?: string;
};

const site = Astro.site ?? "/";
const { width = 115, height = 48, alt = "m3o logo", url = site } = Astro.props;
---
<a href={url}>
  <img class="logo" src={astroLogo.src} width={width} height={height} alt={alt} />
</a>

<style>
  @media (prefers-color-scheme: dark) {
  .logo {
    /* Inverts the black logo to white when dark mode is active */
    filter: invert(1);
  }
}
</style>
